<div class="container">
    <div class="row">
        <div class="col-4">
            <%= gravatar_for @user%>
            <%= @user.email %>
        </div>
        <div class="col-6">
            <%if @user.microposts.any?%>
            <%= render @microposts%>
            <%end%>
        </div>
    </div>
</div>