<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert" data-mdb-alert-init>
    <%= notice %>
    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert" data-mdb-alert-init>
    <%= alert %>
    <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>